<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <!-- to see logging output in console -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="Level" value="DEBUG"/>
      </factoryAdapter>
    </logging>
  </common>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="GitHubApiAccessToken" value="03f37ffab000ed46dfa912a554f03d2cc8bf2d67"/>
    <add key="GitHubRepositoryOwner" value="NDbUnit"/>
    <add key="GitHubRepositoryName" value="test-issues-import"/>
    <add key="GoogleCodeProjectName" value="NDbUnit"/>
    <add key="GoogleCodeProjectUrl" value="https://code.google.com/p/ndbunit"/>
    <add key="GoogleCodeIssueUrlStringFormatTemplate" value="https://code.google.com/p/ndbunit/issues/detail?id={0}"/>
    <add key="GitHubApiProductHeaderValue" value="google%20code%20to%20github%20issue%20migrator"/>
    <add key="GitHubApiThrottleOnCreateInvocationCount" value="20"/>
    <add key="GitHubApiThrottleOnCreatePauseDurationMilliseconds" value="70000"/>
  </appSettings>
</configuration>